.index {
  -webkit-animation: fadeIn 1.5s ease-in-out;
  -moz-animation: fadeIn 1.5s ease-in-out;
  -o-animation: fadeIn 1.5s ease-in-out;
  animation: fadeIn 1.5s ease-in-out;
}
.content {
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}

.content > h1 {
  font-size: 3rem;
}

.productsContent {
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.wrapper {
  margin-top: 40px;
  height: 100vh;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 60px;
}

.itemCarousel1 {
  background-image: url("/images/main.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  background-size: 100%;
}
.itemCarousel2 {
  background-image: url("/images/main2.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  background-size: 100%;
}
.itemCarousel3 {
  background-image: url("/images/main3.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  background-size: 100%;
}
.itemCarousel4 {
  background-image: url("/images/main4.webp");
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  background-size: 100%;
}

.carouselDiv {
  margin-top: 40px;
  width: 100vw;
  background-color: #2d2d2d;
}

.horario {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #2d2d2d;
  height: 40vh;
  width: 100vw;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;
}

.horario svg {
  margin-bottom: 40px;
  height: 60px;
  width: 60px;
}

.visitar {
  display: flex;
  text-decoration: none;
  color: #fff;
  width: 100px;
  height: 40px;
  border: 1px solid #fff;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s;
  cursor: pointer;
}

.visitar:hover {
  background-color: #fff;
  color: #000;
}

.produtos {
  margin-top: 60px;
  background-color: #2d2d2d;
}

.productImg1 {
  background-image: url("/images/velooh.webp");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}
.productImg2 {
  background-image: url("/images/produtos/gancheiras/0137.jpg");
  background-size: 76%;
  background-position: center;
  background-repeat: no-repeat;
}
.productImg3 {
  background-image: url("/images/produtos/vestuario/camisa/mascinfantilwindmangaazul.png");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.endereco {
  background-color: #f0f0f0;
  width: 100vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 60px;
  flex-direction: column;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  .productsContent {
    font-size: small;
  }
  .productsContent h2 {
    font-size: 1.2rem;
  }

  .carouselDiv a {
    margin-bottom: -100px;
  }
  .itemCarousel1,
  .itemCarousel2,
  .itemCarousel3 {
    height: 250px;
    background-size: 100%;
  }

  .productImg1,
  .productImg2,
  .productImg3 {
    background-repeat: no-repeat;
    margin-bottom: -100px;
  }

  .produtos {
    margin-top: 60px;
  }
  .wrapper {
    height: 70vh;
    width: 100vw;
    margin-top: -45px;
  }

  .hist {
    margin-top: 60px;
  }
}
