/*#0081ac   #003d51
  }*/

.prodMold {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 255px;
    width: 255px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    border: 4px solid #003d51;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px 0px, rgba(0, 0, 0, 0.09) 0px 4px 2px 0px, rgba(0, 0, 0, 0.09) 0px 8px 4px 0px, rgba(0, 0, 0, 0.09) 0px 16px 8px 0px, rgba(0, 0, 0, 0.09) 0px 32px 16px 0px;
  }

  .prodMold:hover{
    border: 4px solid #0081ac;
  }


  .imgProd {
    height: 225px;
    width: 225px;
  }
 
  .azulClaro {
    
    height: 20px;
    width: 20px;
    margin-left: 8px;
    background-color: cornflowerblue;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;
  }
  .preto {
    
    height: 20px;
    width: 20px;
    margin-left: 8px;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;
  }
  .vermelho {
    
    height: 20px;
    width: 20px;
    margin-left: 8px;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;
  }
  .rosa {
    
    height: 20px;
    width: 20px;
    margin-left: 8px;
    background-color: fuchsia;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;
  }
  .verde {
    
    height: 20px;
    width: 20px;
    margin-left: 8px;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;
  }
  .brancopt {
    border-radius: 5px;
    height: 20px;
    width: 20px;
    margin-left: 8px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%);
    cursor: pointer;
    border: 1px solid #000;
  }
  .brancorosa {
    border-radius: 5px;
    height: 20px;
    width: 20px;
    margin-left: 8px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(236,0,211,1) 50%);
    cursor: pointer;
    border: 1px solid #000;
  }
  
  .cinzapt {
    border-radius: 5px;
    height: 20px;
    width: 20px;
    margin-left: 8px;
    background: linear-gradient(90deg, rgba(93,93,93,1) 50%, rgba(0,0,0,1) 50%);
    cursor: pointer;
    border: 1px solid #000;
  }

  .azulpt {
    border-radius: 5px;
    height: 20px;
    width: 20px;
    margin-left: 8px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%,  rgba(35,103,217,1) 50%);
    cursor: pointer;
    border: 1px solid #000;
  }
  .ptcinza{
    border-radius: 5px;
    height: 20px;
    width: 20px;
    margin-left: 8px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(93,93,93,1) 50%);
    cursor: pointer;
    border: 1px solid #000;
  }
  .ptrosa{
    border-radius: 5px;
    height: 20px;
    width: 20px;
    margin-left: 8px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(255,67,175,1) 50%);
    cursor: pointer;
    border: 1px solid #000;
  }
  .ptverde{
    border-radius: 5px;
    height: 20px;
    width: 20px;
    margin-left: 8px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(29,175,41,1) 50%);
    cursor: pointer;
    border: 1px solid #000;
  }
  .ptvermelho{
    border-radius: 5px;
    height: 20px;
    width: 20px;
    margin-left: 8px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(224,0,0,1) 50%);
    cursor: pointer;
    border: 1px solid #000;
  }

  
 
  .cores {
    display: flex;
    margin-bottom: 10px;
    align-self: flex-start;
  }