.caps {
  -webkit-animation: fadeIn 1.5s ease-in-out;
  -moz-animation: fadeIn 1.5s ease-in-out;
  -o-animation: fadeIn 1.5s ease-in-out;
  animation: fadeIn 1.5s ease-in-out;
  color: #fff;
  height: 64vh;
}

.produtos {
  display: flex;
  flex-direction: column;
}

.produto {
  display: flex;
  column-gap: 30px;
}

.lateral {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.azul{
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: cornflowerblue;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.preto {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.vermelho {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: red;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.rosa{
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: fuchsia;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.verde {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: green;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.brancopt {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 8px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%);
  cursor: pointer;
  border: 1px solid #000;
}

.brancorosa {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 8px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(236,0,211,1) 50%);
  cursor: pointer;
  border: 1px solid #000;
}
.cinzapt {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 8px;
  background: linear-gradient(90deg, rgba(93,93,93,1) 50%, rgba(0,0,0,1) 50%);
  cursor: pointer;
  border: 1px solid #000;
}

.azulpt {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 8px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 50%,  rgba(35,103,217,1) 50%);
  cursor: pointer;
  border: 1px solid #000;
}

.ptcinza{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 8px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(93,93,93,1) 50%);
  cursor: pointer;
  border: 1px solid #000;
}

.ptrosa{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 8px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(255,67,175,1) 50%);
  cursor: pointer;
  border: 1px solid #000;
}

.ptverde{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 8px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(29,175,41,1) 50%);
  cursor: pointer;
  border: 1px solid #000;
}

.ptvermelho{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 8px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(224,0,0,1) 50%);
  cursor: pointer;
  border: 1px solid #000;
}

.azul:hover,
.preto:hover,
.vermelho:hover,
.rosa:hover,
.verde:hover, .brancopt:hover, .cinzapt:hover, .azulpt:hover, .ptcinza:hover, .ptrosa:hover, .ptverde:hover, .ptvermelho:hover, .brancorosa:hover {
  border: 2px solid #fff;
}

.cores {
  display: flex;
}

.Moldfoto {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 255px;
  width: 255px;
  margin-left: 45px;
  border-radius: 35px;
  margin-top: 20px;
  overflow: hidden;
}
.Moldfoto2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height:80px;
  width: 80px;
  border-radius: 10px;
  margin-top: 25px;
  cursor: pointer;
  overflow: hidden;
}

.Moldfoto2:hover{
  border: 2px solid #0081ac;;
}

.subfotos{
  margin-left: 10px;
  display: flex;
  column-gap: 20px;
}

.imgProd {
  vertical-align: middle;
  border-style: none;
  height: 275px;
  width: 275px;
}

.imgProd2{
  height: 95%;
  width: 95%;

}

.texto p {
  font-size: 1.8rem;
  margin-top: 40px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  .caps {
    height: 100vh;
  }
  .produto {
    flex-direction: column;
  }

  .texto {
    margin-left: 15px;
  }
}
