.prods {
  -webkit-animation: fadeIn 1.5s ease-in-out;
  -moz-animation: fadeIn 1.5s ease-in-out;
  -o-animation: fadeIn 1.5s ease-in-out;
  animation: fadeIn 1.5s ease-in-out;
  color: #fff;
  margin-bottom: 100px;
}

.produtos {
  display: flex;
  flex-direction: column;
}

.produto {
  display: flex;
  column-gap: 30px;
}

.lateral {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.azul{
  height: 30px;
  width: 30px;
  background-color: #6495ed;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.preto {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.vermelho {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: red;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.rosa{
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: #ff00ff;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.azulrosa{
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background: linear-gradient(90deg, rgba(100,149,237,1) 50%, rgba(255,0,255,1) 50%);;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.verde {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: green;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.brancopt {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%);
  cursor: pointer;
  border: 2px solid #000;
}

.brancorosa {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(236,0,211,1) 50%);
  cursor: pointer;
  border: 2px solid #000;
}
.cinzapt {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background: linear-gradient(90deg, rgba(93,93,93,1) 50%, rgba(0,0,0,1) 50%);
  cursor: pointer;
  border: 2px solid #000;
}

.azulpt {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 50%,  rgba(35,103,217,1) 50%);
  cursor: pointer;
  border: 2px solid #000;
}

.ptcinza{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(93,93,93,1) 50%);
  cursor: pointer;
  border: 2px solid #000;
}

.ptrosa{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(255,67,175,1) 50%);
  cursor: pointer;
  border: 2px solid #000;
}

.ptverde{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(29,175,41,1) 50%);
  cursor: pointer;
  border: 2px solid #000;
}
.ptverdepiscina{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background: linear-gradient(90deg, rgb(9, 0, 41) 50%, rgba(82,224,170,1) 50%);
  cursor: pointer;
  border: 2px solid #000;
}

.ptvermelho{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(224,0,0,1) 50%);
  cursor: pointer;
  border: 2px solid #000;
}

.azulescuro{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  background-color: rgb(4, 16, 180);
  cursor: pointer;
  border: 2px solid #000;
}
.branco{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid #000;
}
.polido{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: rgb(199, 199, 199);
  cursor: pointer;
  border: 2px solid #000;
}
.rosaclaro{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: rgb(218, 92, 165);
  cursor: pointer;
  border: 2px solid #000;
}
.amarelo{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: yellow;
  cursor: pointer;
  border: 2px solid #000;
}
.cinza{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: gray;
  cursor: pointer;
  border: 2px solid #000;
}
.laranja{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: orangered;
  cursor: pointer;
  border: 2px solid #000;
}

.grafite{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: rgb(80, 80, 80);
  cursor: pointer;
  border: 2px solid #000;
}

.bege{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: #dcd3ab;
  cursor: pointer;
  border: 2px solid #000;
}

.marrom{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: #411010;
  cursor: pointer;
  border: 2px solid #000;
}

.verdepiscina{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: #52e0aa;
  cursor: pointer;
  border: 2px solid #000;
}

.verdeclaro{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  background-color: #46df38;
  cursor: pointer;
  border: 2px solid #000;

}

.rosrox{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  cursor: pointer;
  border: 2px solid #000;
  background: linear-gradient(90deg, rgba(233,39,131,1) 0%, rgba(199,100,237,1) 100%);
}

.ptamarelo{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  cursor: pointer;
  border: 2px solid #000;
  background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(255,222,0,1) 50%);
}

.vermelhoroxo{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  cursor: pointer;
  border: 2px solid #000;
  background: linear-gradient(90deg, rgba(195,34,34,1) 0%, rgba(114,45,253,1) 100%);
}
.azulverdepiscina{
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin-left: 15px;
  cursor: pointer;
  border: 2px solid #000;
  background: linear-gradient(90deg, rgba(0,15,56,1) 0%, rgba(72,108,233,1) 50%, rgba(1,99,77,1) 100%);
}


.azul:hover,
.preto:hover,
.vermelho:hover,
.rosa:hover,
.verde:hover, .brancopt:hover, .cinzapt:hover, .azulpt:hover, .ptcinza:hover, .ptrosa:hover, .ptverde:hover, .ptvermelho:hover, .brancorosa:hover, .azulescuro:hover, .branco:hover, .polido:hover, .rosaclaro:hover,
.amarelo:hover,
.laranja:hover,
.grafite:hover,
.cinza:hover,
.bege:hover,
.verdepiscina:hover,
.marrom:hover,
.verdeclaro:hover,
.azulrosa:hover,
.rosrox:hover,
.ptverdepiscina:hover,
.ptamarelo:hover,
.vermelhoroxo:hover,
.azulverdepiscina:hover
{
  border: 2px solid #fff;
}

.cores {
  display: flex;
}

.Moldfoto {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 275px;
  width: 275px;
  margin-left: 45px;
  border-radius: 35px;
  margin-top: 20px;
  overflow: hidden;
}
.Moldfoto2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height:80px;
  width: 80px;
  border-radius: 10px;
  margin-top: 25px;
  cursor: pointer;
  overflow: hidden;
}

.Moldfoto2:hover{
  border: 2px solid #0081ac;
}

.subfotos{
  display: flex;
  column-gap: 20px;
}

.imgProd {
  vertical-align: middle;
  border-style: none;
  height: 255px;
  width: 255px;
}

.imgProd2{
  height: 95%;
  width: 95%;

}

.texto p {
  font-size: 1.8rem;
  margin-top: 40px;
}

.texto2 p {
  font-size: 1.8rem;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 320px) and (max-width: 800px) {
  .caps {
    height: 100vh;
  }
  .produto {
    flex-direction: column;
  }

  .texto, .texto2 {
    margin-left: 15px;
  }

  .cores,.subfotos{
    margin-left: 15px;
  }
}
